<head>
    
    <title class="">Demo showroom for design issues</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="https://files.artbutler.com/image/33/w_800_h_800/1280c93f722747e3.jpg">

    <meta property="og:title" content="Demo showroom for design issues">
    
    <meta property="og:description" content="This is a demo for what we call a web showroom. &lt;br&gt;The design is supposed to be &lt;b&gt;fully responsive &lt;/b&gt;to work seamlessly on desktop computers as well as small screens and mobile (touch) devices. We are not there yet.&lt;br&gt;&lt;br&gt;Please provide a list of your suggestions to improve this. A static copy of this showroom with improved behaviour would be very helpful as well.&lt;br&gt;&lt;br&gt;Especially the detail view (lightbox) needs some attention.&lt;br&gt;&lt;br&gt;&lt;br&gt;">
    <meta property="og:url" content="https://showrooms.artbutler.com/api/exhibitions/2917/">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    {{#if strip}}
    <link rel="stylesheet" type="text/css" href="/vendor/strip-1.6.2/dist/css/strip.css"/>
    {{else}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.0/fluidbox.min.css" />
    {{/if}}

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" />
    
    <link rel="stylesheet" href="/fonts/fonts.css" />

    <link rel="stylesheet" href="/css/main.css" />

    <link rel="stylesheet" href="/css/demo.css" />

    {{#if strip}}
    <link rel="stylesheet" href="/css/demo-stripjs.css" />
    {{/if}}

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/bootbox/bootbox.min.js"></script>
    
    {{#if strip}}
    <script type="text/javascript" src="/vendor/strip-1.6.2/dist/js/strip.pkgd.min.js"></script>
    {{else}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.0/jquery.fluidbox.min.js"></script>
    {{/if}}

    <script src="/js/main.js" defer></script>
    <script src="/js/demo.js" defer></script>
    
    {{#unless strip}}
    <script src="/js/demo-fluidbox.js" defer></script>
    {{/unless}}

  </head>