<div class="header row">
<div class="col-xs-2">
    <img src="/images/ab_cloud_icon_rz.gif" class="img-responsive"  alt="artbutler logo">
  </div>
</div>

<div class="nav">
  <span class="link active show-all">
    All
  </span>
  <span class="link show-favorites">
    Favorites <span id="favorites-count"></span>
  </span>
  <span class="link send-favorites">
    Send Favorites
  </span>
  <div class="search">
    <span class="">Search</span>
    <form id="search">
      <input name="filter" value="" placeholder="Title, artist, technique, etc."  type="search" />
    </form>
  </div>
</div>
