<h1>Demo showroom for design issues</h1>

<p>This is a demo for what we call a web showroom. <br>The design is supposed to be <b>fully responsive </b>to work seamlessly on desktop computers as well as small screens and mobile (touch) devices. We are not there yet.<br><br>Please provide a list of your suggestions to improve this. A static copy of this showroom with improved behaviour would be very helpful as well.<br><br>Especially the detail view (lightbox) needs some attention.<br><br><br></p>
<div class="works"> 

{{#each works}}

<article>
  <h1 class="title">{{title}}</h1>
  <div class="picture">
    <a {{#if ../strip}} class="strip" data-strip-caption="{{title}}" data-strip-group="works" {{else}} class="fluidbox" {{/if}} href="{{image.big}}" title="{{title}}">
      <img src="{{image.small}}" alt="" title="" />
    </a>
  </div>
  <h2 class="author">{{author}}</h2>

  <a href="#" class="toggle">Description</a>
  <div class="description">
    <time>{{description.time}}</time>
    <p class="technique">
      {{description.technique}}
    </p>
    <p class="dimensions">
      {{description.dimensions}}
    </p>
    <p class="signature">
      {{descrption.signature}}
    </p>
    <p>
      {{description.text}}
    <p>
  </div>
  <footer>
    <address><a href="#">Contact {{author}} here</a></address>
    <span class="favorite-toggle">
      <span class="add-favorite" data-id="{{id}}">
        Add to favorites
      </span>
      <span class="remove-favorite" data-id="{{id}}">
        Remove from favorites
      </span>
   </span>
  </footer>
</article>

{{/each}}

</div>
