.works {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 60%;
  justify-content: space-between; }

/*# sourceMappingURL=demo-stripjs.css.map */
