html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:active, a:focus {
   outline: 0;
}

.fluidbox__overlay {
	background: transparent;
}

.container {
	margin-top: 20px;
}

.works {
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
  	justify-content: space-between;

	article {
		$articleWidth: calc(300px + 2rem);
		width: $articleWidth;
		border: 1px solid #E5E4E2;
		padding: 1rem;
		margin: 0.5rem;

		.picture a {
			display: block;
		    height: 300px;
		    text-align: center;
		    line-height: 300px;

		    img {
		    	vertical-align: middle;
		    }
		}

		h1, h2 {
			border: 0;
			font-weight: normal;
		    margin-top: 1rem;

		    &:after {
		    	margin: 0;
		    }
		}

		h1 {
			font-size: 2rem;
			text-align: center;
		}

		h2 {
			font-size: 1.7rem;
		}

		.description {
			display: none;
		}

		.toggle {
			display: block;
			text-decoration: none;

			&:before {
				content: '\2193';
			}
			
			&.open {
				&:before {
					content: '\2191';
				}
			}
		}
	}

	.favorite-toggle {
		position: static;
		text-decoration: underline;

		&:before {
			line-height: 15px;
		}
	}
}

.container > footer {
	padding: 20px 0;
}