html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a, a:active, a:focus {
  outline: 0; }

.fluidbox__overlay {
  background: transparent; }

.container {
  margin-top: 20px; }

.works {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between; }
  .works article {
    width: calc(300px + 2rem);
    border: 1px solid #E5E4E2;
    padding: 1rem;
    margin: 0.5rem; }
    .works article .picture a {
      display: block;
      height: 300px;
      text-align: center;
      line-height: 300px; }
      .works article .picture a img {
        vertical-align: middle; }
    .works article h1, .works article h2 {
      border: 0;
      font-weight: normal;
      margin-top: 1rem; }
      .works article h1:after, .works article h2:after {
        margin: 0; }
    .works article h1 {
      font-size: 2rem;
      text-align: center; }
    .works article h2 {
      font-size: 1.7rem; }
    .works article .description {
      display: none; }
    .works article .toggle {
      display: block;
      text-decoration: none; }
      .works article .toggle:before {
        content: '\2193'; }
      .works article .toggle.open:before {
        content: '\2191'; }
  .works .favorite-toggle {
    position: static;
    text-decoration: underline; }
    .works .favorite-toggle:before {
      line-height: 15px; }

.container > footer {
  padding: 20px 0; }

/*# sourceMappingURL=demo.css.map */
