@charset "UTF-8";
/*
 * This is converted from the rendered stylesheet used by the old showrooms.
 * There are probably sections that can be stripped, although an effort has been
 * made to remove anything obviously extraneous.
 *
 */
body {
  font-size: 1.3rem;
  font-family: BrandonText, sans-serif; }

h1 {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  cursor: pointer; }
  h1:after {
    opacity: 0;
    display: inline-block;
    transition: opacity .5s ease-in-out;
    content: ' ';
    width: 15px;
    height: 7px;
    margin-left: 10px; }
  h1.active:after {
    opacity: 1; }

h2 {
  border-bottom: 1px solid #000;
  padding: 10px 0; }

input,
textarea {
  border: 0;
  background-color: #dde9ff;
  padding: .5em;
  box-sizing: border-box; }

span.link {
  display: inline-block;
  padding: .5em 0; }

.nav {
  padding-bottom: 11px;
  border-bottom: 3px solid #000;
  margin: 10px 0 11px; }
  .nav span {
    transition: opacity .3s ease-in-out;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    white-space: nowrap; }

.nav > span {
  margin-right: 20px; }

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 30px; }
    .header img {
      max-width: 500px;
      max-height: 80px; }

  .nav .search {
    float: right;
    width: 30%;
    min-width: 200px;
    position: relative; }
    .nav .search span {
      position: absolute;
      left: -5em;
      top: .5em;
      padding-right: 1em; }
    .nav .search input {
      width: 100%; } }
.modal-content {
  border-radius: 0;
  box-shadow: none; }
  .modal-content form {
    margin-top: 2em; }
    .modal-content form .row {
      margin-bottom: 1em; }
    .modal-content form input,
    .modal-content form label,
    .modal-content form textarea {
      display: block;
      width: 100%; }
    .modal-content form textarea {
      height: 10em; }

.modal-header {
  border-bottom: 0; }
  .modal-header .modal-title {
    text-transform: uppercase;
    border-bottom: 1px solid black; }

.modal-body {
  padding: 10px 20px 0; }

.form-control {
  background-color: #dde9ff;
  border: 0;
  border-radius: 0; }
  .form-control:focus {
    box-shadow: none; }

.btn {
  border-radius: 0; }

.input-sm {
  border-radius: 0; }

a.link:hover {
  color: #548fff;
  text-decoration: none; }

span.link.active {
  color: #548fff;
  text-decoration: none; }
  span.link.active span {
    color: #548fff;
    text-decoration: none; }
span.link:hover {
  color: #548fff;
  text-decoration: none; }
  span.link:hover span {
    color: #548fff;
    text-decoration: none; }

.has-error .form-control:focus {
  box-shadow: none; }

.favorite-toggle .add-favorite {
  display: inherit; }

.favorite-toggle .remove-favorite {
  display: none; }

.hover-caption .add-favorite,
.hover-caption .remove-favorite {
  padding-top: .2em; }

.is-favorite .add-favorite {
  display: none; }
.is-favorite .favorite-toggle .remove-favorite {
  display: inherit; }

.favorite-toggle {
  position: absolute;
  right: 8px;
  top: 12px;
  font-size: 12px;
  cursor: pointer;
  pointer-events: auto;
  width: 100%;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
  text-decoration: underline; }
  .favorite-toggle::before {
    float: right;
    font-family: "Glyphicons Halflings";
    content: "";
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    padding-left: .5em;
    text-decoration: none; }

.is-favorite .favorite-toggle::before {
  content: "\e083"; }

#imagelightbox-modal #imagelightbox-content {
  position: relative; }
#imagelightbox-modal #imagelightbox-top-subcaption {
  display: block !important;
  z-index: 2000; }
  #imagelightbox-modal #imagelightbox-top-subcaption .description {
    max-height: 250px;
    overflow: auto; }
#imagelightbox-modal #imagelightbox-bottom-subcaption {
  z-index: 1999; }
#imagelightbox-modal .favorite-toggle {
  bottom: 10px;
  right: -15px;
  top: auto;
  display: block;
  height: 25px;
  padding-top: 2px;
  z-index: 2001; }
  #imagelightbox-modal .favorite-toggle::before {
    margin-top: -.25em; }

div.row a.lightbox {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  position: relative; }
  div.row a.lightbox:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/ }
  div.row a.lightbox:hover .hover-caption {
    display: flex; }
    div.row a.lightbox:hover .hover-caption p {
      line-height: 1em;
      margin: 0 0 .5em; }
      div.row a.lightbox:hover .hover-caption p.artist {
        font-weight: bold; }
  div.row a.lightbox .hover-caption {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 2;
    padding: 10px; }
    div.row a.lightbox .hover-caption .spacer {
      flex: 1; }
    div.row a.lightbox .hover-caption .artists {
      text-transform: uppercase;
      font-weight: bold; }
    div.row a.lightbox .hover-caption .title {
      font-style: italic; }
  div.row a.lightbox img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-height: 100%;
    max-width: 100%; }
  div.row a.lightbox .play-button-overlay {
    background-size: 480px 270px; }

.thumbnail-items {
  display: none; }

#favorites-count::before {
  content: "("; }
#favorites-count::after {
  content: ")"; }
#favorites-count:empty {
  display: none; }

.login-error {
  color: red; }

.no-works-msg {
  text-align: center;
  color: #999;
  padding: 2em; }

.footer {
  padding-bottom: 1em; }

html {
  height: 100%; }
  html body {
    min-height: 100%; }
    html body > .container {
      display: flex;
      min-height: 100vh;
      flex-direction: column; }
      html body > .container .showroom {
        flex: 1;
        padding: 20px 0; }